.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container form div {
    margin-bottom: 15px;
  }
  
  .container form label {
    display: block;
    font-weight: bold;
  }
  
  .container form input[type="text"],
  .container form input[type="date"],
  .container form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container form .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  .container form button[type="submit"],
  .container button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }